@charset "UTF-8";
@font-face {
  font-family: BebasNeue Bold;
  font-display: swap;
  src: url("../fonts/BebasNeue Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: "BebasNeue Bold",sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "BebasNeue Bold",sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
::-webkit-scrollbar {
  display: none
}
html {
  scrollbar-width: none
}
body {
  background-color: #ec1c2d
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto
}
.fp-init .cards-mode [data-fp-section],
.fp-init .slider-mode [data-fp-section] {
  transition: -webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .5s ease-in-out 0s,visibility .5s ease-in-out 0s
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.wrapper {
  position: relative
}
.wrapper::before {
  content: "";
  position: fixed;
  z-index: 8;
  inset: 0;
  border: solid #ec1c2d;
  pointer-events: none;
  transition: opacity .3s ease
}
.fp-section-4 .wrapper::before,
.fp-section-5 .wrapper::before {
  opacity: 0
}
.section-body {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden
}
.loaded .section-body {
  opacity: 1!important
}
.logo {
  position: fixed;
  z-index: 10;
  left: 50%;
  background-color: #ec1c2d;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  transition: opacity .3s ease;
  opacity: 0
}
.loaded .logo {
  opacity: 1
}
.fp-section-4 .logo {
  background-color: transparent
}
.logo img {
  height: auto
}
.scroll {
  position: absolute;
  inset: 0;
  z-index: 9;
  background-image: linear-gradient(181.01deg,rgba(0,0,0,0) 36.805%,rgba(119,14,23,.64) 69.197%,#ec1c2d 93.756%);
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  transition: opacity .8s ease
}
.scroll__footer {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  align-items: center
}
.scroll__txt {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translate(0,100%);
  transform: translate(0,100%);
  transition: opacity .7s ease,-webkit-transform .6s ease;
  transition: opacity .7s ease,transform .6s ease;
  transition: opacity .7s ease,transform .6s ease,-webkit-transform .6s ease
}
.scroll__ic {
  opacity: 0;
  transition: opacity .7s ease
}
.section-01.active-section .scroll,
.section-02.active-section .scroll,
.section-03.active-section .scroll {
  opacity: 1;
  transition-delay: 1.5s
}
.section-01.active-section .scroll__txt,
.section-02.active-section .scroll__txt,
.section-03.active-section .scroll__txt {
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  transition-delay: 1.65s
}
.section-01.active-section .scroll__ic,
.section-02.active-section .scroll__ic,
.section-03.active-section .scroll__ic {
  opacity: 1;
  transition-delay: 1.65s
}
.section-img {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.section-00__img {
  -o-object-position: left;
  object-position: left
}
.section-00__rectangle {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 40%;
  z-index: 4
}
.section-00__rectangle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #ec1c2d;
  clip-path: polygon(53% 0,100% 0,100% 100%,0 100%)
}
.section-00__pack-wr {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-8%,18%) rotate(-20deg);
  transform: translate(-8%,18%) rotate(-20deg)
}
.section-00__pack {
  position: relative;
  height: auto;
  left: 100%;
  top: 50px;
  opacity: 0;
  transition: all .65s ease
}
.loaded .section-00__pack {
  left: 0;
  top: 0;
  opacity: 1;
  transition-delay: .4s
}
.section-00__btn-wr {
  position: absolute;
  z-index: 10;
  opacity: 0;
  transition: opacity .8s ease,bottom 1s ease,-webkit-transform 1s ease;
  transition: opacity .8s ease,transform 1s ease,bottom 1s ease;
  transition: opacity .8s ease,transform 1s ease,bottom 1s ease,-webkit-transform 1s ease
}
.section-00__btn-wr::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  background-image: url(../img/icons/stars.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  aspect-ratio: 331/391;
  opacity: 0;
  transition: opacity 1.2s ease
}
.loaded .section-00__btn-wr::before {
  opacity: 1;
  transition-delay: .6s
}
.loaded .section-00__btn-wr {
  opacity: 1
}
.section-00__btn {
  color: #fff
}
.loaded .section-00__btn {
  -webkit-animation: pulse 2s 1s infinite;
  animation: pulse 2s 1s infinite
}
.section-00__btn span {
  position: relative;
  z-index: 2;
  text-wrap: nowrap
}
.section-00__btn::after,
.section-00__btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: skew(-17deg);
  transform: skew(-17deg)
}
.section-00__btn::before {
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ec1c2d
}
.section-00__btn::after {
  content: "";
  z-index: 0;
  background-color: #fdd328;
  box-shadow: 0 6.34px 22.99px 0 rgba(0,0,0,.67)
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  40% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  40% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
.section-03__txts {
  position: absolute;
  z-index: 10
}
.section-03__txt {
  position: relative;
  color: #fff;
  text-align: center;
  text-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  clip-path: polygon(0 0,100% 0,97% 100%,3% 100%);
  opacity: 0;
  transition: opacity .65s ease
}
.active-section .section-03__txt {
  opacity: 1
}
.section-03__txt span {
  opacity: 0;
  transition: opacity .5s ease,-webkit-transform .65s ease;
  transition: opacity .5s ease,transform .65s ease;
  transition: opacity .5s ease,transform .65s ease,-webkit-transform .65s ease;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  display: inline-block
}
.active-section .section-03__txt span {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.section-03__txt.txt-red {
  background-color: #ec1c2d
}
.active-section .section-03__txt.txt-red {
  transition-delay: .3s
}
.active-section .section-03__txt.txt-red span {
  transition-delay: .45s
}
.section-03__txt.txt-yellow {
  background-color: #f0c519
}
.active-section .section-03__txt.txt-yellow {
  transition-delay: .5s
}
.active-section .section-03__txt.txt-yellow span {
  transition-delay: .55s
}
.section-04 .section-body {
  transition: background-color .3s ease
}
.section-04 .section-body.slide-1 {
  background-color: #d92130
}
.section-04 .section-body.slide-2 {
  background-color: #fc9615
}
.section-04 .section-body.slide-3 {
  background-color: #73d0d3
}
.section-04 .section-body.slide-4 {
  background-color: #80cbe2
}
.section-04 .section-body.slide-5 {
  background-color: #0d1319
}
.section-04 .section-body.slide-6 {
  background-color: #0346a5
}
.section-04 .section-body.slide-7 {
  background-color: #53152b
}
.section-04__slider {
  overflow: visible!important;
  height: 100vh;
  height: 100svh
}
.section-04__slide {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center
}
.section-04__slide.slide-1 .pack-slide__hand .hand-color {
  fill: #fa9a17
}
.section-04__slide.slide-2 .pack-slide__hand .hand-color {
  fill: #b32306
}
.section-04__slide.slide-3 .pack-slide__hand .hand-color {
  fill: #0a5151
}
.section-04__slide.slide-4 .pack-slide__hand .hand-color {
  fill: #3c68aa
}
.section-04__slide.slide-5 .pack-slide__hand .hand-color {
  fill: #95222f
}
.section-04__slide.slide-6 .pack-slide__hand .hand-color {
  fill: #2d9d21
}
.section-04__slide.slide-7 .pack-slide__hand .hand-color {
  fill: #cb2d5f
}
.section-04__button {
  position: absolute;
  z-index: 10;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s ease
}
.section-04__button svg {
  width: auto
}
.section-04__button.swiper-button-prev {
  left: 1.875rem
}
.section-04__button.swiper-button-next {
  right: 1.875rem
}
.section-04__button.swiper-button-disabled {
  opacity: 0
}
.pack-slide {
  position: relative;
  display: grid;
  align-items: center;
  height: 100%;
  max-width: 70%
}
.pack-slide__pack {
  position: relative;
  min-height: 100%
}
.pack-slide__pack.pack-center {
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg)
}
.pack-slide__wr {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content
}
.pack-slide__hand {
  position: absolute;
  z-index: 5
}
.pack-slide__hand.hand-right {
  right: 0;
  top: 0
}
.section-05.active-section .section-body::before {
  opacity: 1
}
.section-05.active-section .section-body::after {
  opacity: 1;
  transition-delay: 1s
}
.section-05.active-section .section-05__txt {
  opacity: 1;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  transition-delay: 1.2s
}
.section-05 .section-body:after,
.section-05 .section-body:before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0
}
.section-05 .section-body::after {
  z-index: 6;
  background-image: linear-gradient(0deg,rgba(0,0,0,0) 65.749%,rgba(119,14,23,.64) 73.893%,#ec1c2d 92.293%);
  transition: opacity 1s ease
}
.section-05 .section-body::before {
  z-index: 5;
  border: solid #ec1c2d;
  transition: opacity .3s ease
}
.section-05__txt {
  position: absolute;
  z-index: 7;
  top: 150px;
  left: 50%;
  color: #fff;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate(-50%,100%);
  transform: translate(-50%,100%);
  transition: opacity .45s ease,-webkit-transform .65s ease;
  transition: opacity .45s ease,transform .65s ease;
  transition: opacity .45s ease,transform .65s ease,-webkit-transform .65s ease
}
.section-05__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.section-05__chel-1,
.section-05__chel-2 {
  position: absolute;
  z-index: 6;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  pointer-events: none
}
.section-05__chel-1 {
  left: 0;
  bottom: 1.25rem
}
.section-05__chel-2 {
  right: 0;
  bottom: 1.875rem
}
.section-05__body {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center
}
.section-05__body .img-before {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  height: auto;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.section-05__footer {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%
}
.section-05__chill {
  background-color: #fff;
  color: #ec1c2d;
  font-size: 1.5625rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: skew(-17deg);
  transform: skew(-17deg)
}
.section-05__chill span {
  display: block;
  -webkit-transform: skew(17deg);
  transform: skew(17deg)
}
@-webkit-keyframes arr {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  40% {
    -webkit-transform: translate(10px,5px);
    transform: translate(10px,5px)
  }
  100% {
    -webkit-transform: translateX(0,0);
    transform: translateX(0,0)
  }
}
@keyframes arr {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  40% {
    -webkit-transform: translate(10px,5px);
    transform: translate(10px,5px)
  }
  100% {
    -webkit-transform: translateX(0,0);
    transform: translateX(0,0)
  }
}
.social {
  display: flex;
  align-items: center
}
.social__item {
  flex: 0 0 auto
}
.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: -webkit-transform .35s ease;
  transition: transform .35s ease;
  transition: transform .35s ease,-webkit-transform .35s ease
}
.video-youtube__body {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-65%,-47%);
  transform: translate(-65%,-47%);
  background-color: #000;
  aspect-ratio: 629/329
}
.video-youtube__body iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 629/326
}
.video-youtube__button {
  overflow: hidden;
  position: relative;
  z-index: 0
}
.video-youtube__button::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: url(../img/icons/play.svg);
  background-repeat: no-repeat;
  background-size: contain
}
.video-youtube__button img {
  aspect-ratio: 629/326
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:22.56125em) {
  .section-05__chill {
    padding: 1.125rem 1.75rem 1.125rem
  }
}
@media (min-width:30.06125em) {
  .loaded .section-00__btn-wr {
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%)
  }
  .section-00__btn-wr {
    top: 50%;
    right: 15%;
    -webkit-transform: translate(0,50%);
    transform: translate(0,50%)
  }
  .section-00__chips {
    position: absolute;
    z-index: 5;
    bottom: -9%;
    right: -3%;
    max-width: 28.125rem;
    width: 100%;
    height: auto;
    opacity: 0;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    transition: opacity .6s,-webkit-transform .6s ease;
    transition: opacity .6s,transform .6s ease;
    transition: opacity .6s,transform .6s ease,-webkit-transform .6s ease
  }
  .loaded .section-00__chips {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  .section-03__txts {
    top: 60%;
    right: 8%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
  }
  .social {
    gap: 1.25rem
  }
}
@media (min-width:48.06125em) {
  .section-05__arr {
    -webkit-animation: arr 2s infinite;
    animation: arr 2s infinite;
    position: relative;
    top: -10px
  }
  .social__link {
    max-width: 3.125rem
  }
}
@media (min-width:51.31125em) {
  .section-04__slide.slide-6 .pack-slide .pack-slide__pack,
  .section-04__slide.slide-7 .pack-slide .pack-slide__pack {
    width: 70%
  }
  .section-04__slide.slide-6 .pack-slide .pack-slide__pack.pack-lt,
  .section-04__slide.slide-7 .pack-slide .pack-slide__pack.pack-lt {
    -webkit-transform: rotate(27deg) translate(32%,-15%)!important;
    transform: rotate(27deg) translate(32%,-15%)!important
  }
  .section-04__slide.slide-6 .pack-slide .pack-slide__pack.pack-center,
  .section-04__slide.slide-7 .pack-slide .pack-slide__pack.pack-center {
    -webkit-transform: rotate(6deg) translate(17%,0)!important;
    transform: rotate(6deg) translate(17%,0)!important
  }
  .section-04__slide.slide-6 .pack-slide .pack-slide__pack.pack-rt,
  .section-04__slide.slide-7 .pack-slide .pack-slide__pack.pack-rt {
    -webkit-transform: rotate(-33deg) translate(-34%,32%)!important;
    transform: rotate(-33deg) translate(-34%,32%)!important
  }
  .pack-slide {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr
  }
  .pack-slide__pack.pack-lt {
    -webkit-transform: rotate(28deg) translate(7%,-7%);
    transform: rotate(28deg) translate(7%,-7%)
  }
  .pack-slide__pack.pack-rt {
    -webkit-transform: rotate(-24deg) translate(-35%,14%);
    transform: rotate(-24deg) translate(-35%,14%)
  }
  .pack-slide__hand.hand-left {
    bottom: .0000000625rem
  }
  .pack-slide__hand.hand-left {
    top: 0;
    -webkit-transform: translate(-68%,-44%);
    transform: translate(-68%,-44%)
  }
  .pack-slide__hand.hand-right {
    -webkit-transform: translate(50%,-50%);
    transform: translate(50%,-50%)
  }
}
@media (min-width:64.06125em) {
  .section-05__body {
    -webkit-transform: translate(-48%,-50%);
    transform: translate(-48%,-50%)
  }
}
@media (min-width:65.68625em) {
  .section-01__img {
    -o-object-position: top;
    object-position: top
  }
  .section-03__img {
    -o-object-position: top;
    object-position: top
  }
  .section-05__footer {
    padding: 0 0 3.125rem 0
  }
}
@media (min-width:90em) {
  .wrapper::before {
    border-width: 1.875rem
  }
  .logo {
    top: 1.8125rem
  }
  .logo img {
    width: 15rem
  }
  .scroll__footer {
    padding-bottom: 2.75rem
  }
  .scroll__txt {
    font-size: 1.5625rem
  }
  .scroll__txt {
    margin-bottom: 1.125rem
  }
  .scroll__ic img {
    height: 4.75rem
  }
  .section-00__btn-wr::before {
    right: -9.375rem
  }
  .section-00__btn-wr::before {
    max-width: 20.6875rem
  }
  .section-00__btn {
    padding-top: .75rem
  }
  .section-00__btn {
    padding-bottom: 1.125rem
  }
  .section-00__btn {
    padding-right: 6.25rem
  }
  .section-00__btn {
    padding-left: 6.25rem
  }
  .section-00__btn span {
    font-size: 3.5rem
  }
  .section-00__btn::after {
    top: 1.25rem
  }
  .section-00__btn::after {
    right: -1rem
  }
  .section-03__txt {
    font-size: 3.125rem
  }
  .section-03__txt {
    padding-top: .75rem
  }
  .section-03__txt {
    padding-bottom: 1rem
  }
  .section-03__txt {
    padding-left: 2.5rem
  }
  .section-03__txt {
    padding-right: 2.5rem
  }
  .section-03__txt.txt-yellow {
    top: -.625rem
  }
  .section-03__txt.txt-yellow {
    margin-left: 12.5rem
  }
  .section-04__button {
    width: 3.75rem
  }
  .section-04__button {
    height: 3.75rem
  }
  .section-04__button svg {
    height: 3.75rem
  }
  .section-05 .section-body::before {
    border-width: 1.875rem
  }
  .video-youtube__button::before {
    width: 5.9375rem
  }
  .video-youtube__button::before {
    height: 5.9375rem
  }
}
@media (min-width:120em) {
  .section-00__pack {
    width: 23.75rem
  }
  .pack-slide__hand.hand-left {
    width: 86.25rem
  }
  .pack-slide__hand.hand-left {
    left: -4rem
  }
  .pack-slide__hand.hand-right {
    width: 47.625rem
  }
  .section-05__txt {
    font-size: 2rem
  }
  .section-05__chel-1 {
    max-width: 23.125rem
  }
  .section-05__chel-2 {
    max-width: 26.25rem
  }
  .section-05__body .img-before {
    width: 79.6875rem
  }
  .video-youtube__body {
    width: 52.5rem
  }
}
@media (max-width:20em) {
  .pack-slide__hand.hand-left {
    left: -2.5rem
  }
  .pack-slide__hand.hand-left {
    bottom: -5rem
  }
  .pack-slide__hand.hand-right {
    width: 10.75rem
  }
}
@media (max-width:65.625em) and (orientation:portrait) {
  .section-00__rectangle {
    width: 60%
  }
  .section-00__rectangle::before {
    clip-path: polygon(100% 11%,100% 0,100% 100%,0 100%)
  }
  .section-00__pack-wr {
    -webkit-transform: translate(76%,18%) rotate(-30deg);
    transform: translate(76%,18%) rotate(-30deg)
  }
  .section-05__img {
    -o-object-position: bottom;
    object-position: bottom
  }
  .section-05__body {
    top: unset!important;
    bottom: 14.375rem;
    height: 40vh!important;
    -webkit-transform: translate(-41%,0);
    transform: translate(-41%,0)
  }
}
@media (max-width:65.68625em) {
  .section-05__footer {
    padding: .9375rem 0;
    background-color: #ec1c2d
  }
}
@media (max-width:64.06125em) {
  .section-05__body {
    -webkit-transform: translate(-41%,-50%);
    transform: translate(-41%,-50%)
  }
}
@media (max-width:56.31125em) and (max-height:30.06125rem) {
  .fp-section-5 .logo {
    opacity: 0
  }
  .logo {
    top: .375rem!important
  }
  .section-03.active-section .scroll {
    justify-content: flex-start!important;
    padding-left: 1.875rem
  }
  .section-00__pack-wr {
    -webkit-transform: translate(-30%,15%) rotate(-30deg);
    transform: translate(-30%,15%) rotate(-30deg)
  }
  .section-00__pack {
    width: 16.25rem!important
  }
  .section-00__btn-wr {
    top: unset!important;
    bottom: 0!important
  }
  .section-00__chips {
    display: none
  }
  .section-01__img {
    -o-object-position: top;
    object-position: top
  }
  .section-03__img {
    -o-object-position: top;
    object-position: top
  }
  .section-03__txts {
    top: 75%;
    right: 5%
  }
  .pack-slide__wr {
    height: 80%;
    min-height: 80%
  }
  .pack-slide__hand {
    display: none
  }
  .section-05__txt {
    top: 1.875rem
  }
  .section-05__chel-1 {
    display: none
  }
  .section-05__chel-2 {
    display: none
  }
  .section-05__footer {
    display: none
  }
}
@media (max-width:51.31125em) {
  .section-04__slide.slide-6 .pack-slide,
  .section-04__slide.slide-7 .pack-slide {
    max-width: 50%!important
  }
  .section-04__slide.slide-6 .pack-slide .pack-slide__hand.hand-left,
  .section-04__slide.slide-7 .pack-slide .pack-slide__hand.hand-left {
    -webkit-transform: translate(-100%,49%) rotate(-40deg)!important;
    transform: translate(-100%,49%) rotate(-40deg)!important;
    bottom: -.875rem!important;
    left: 0!important
  }
  .section-04__slide.slide-6 .pack-slide .pack-slide__hand.hand-right,
  .section-04__slide.slide-7 .pack-slide .pack-slide__hand.hand-right {
    -webkit-transform: translate(88%,-56%)!important;
    transform: translate(88%,-56%)!important
  }
  .pack-slide {
    grid-template-columns: 1fr
  }
  .pack-slide__pack.pack-lt {
    display: none
  }
  .pack-slide__pack.pack-rt {
    display: none
  }
  .pack-slide__hand.hand-left {
    -webkit-transform: translate(-78%,40%) rotate(-40deg);
    transform: translate(-78%,40%) rotate(-40deg)
  }
}
@media (max-width:51.31125em) and (orientation:portrait) {
  .section-05__body {
    bottom: 12.5rem
  }
}
@media (max-width:48.06125em) {
  .section-05__footer {
    gap: 1.25rem
  }
  .section-05__arr {
    display: none
  }
}
@media (max-width:46.93625em) {
  .section-05__chel-1,
  .section-05__chel-2 {
    bottom: -20%!important
  }
  .section-05__chel-1 {
    left: 3%
  }
  .section-05__chel-2 {
    right: 3%
  }
  .section-05__body {
    bottom: 15rem
  }
}
@media (max-width:30.06125em) {
  .wrapper::before {
    border-width: .9375rem
  }
  .logo {
    top: .875rem
  }
  .logo img {
    width: 8.75rem
  }
  .scroll__footer {
    padding-bottom: 1.375rem
  }
  .scroll__txt {
    font-size: 1.375rem
  }
  .scroll__txt {
    margin-bottom: .875rem
  }
  .scroll__ic img {
    height: 3.25rem
  }
  .section-00__pack-wr {
    -webkit-transform: translate(8%,18%) rotate(-30deg);
    transform: translate(8%,18%) rotate(-30deg)
  }
  .section-00__pack {
    width: 16.25rem
  }
  .section-00__btn-wr::before {
    right: -3.75rem
  }
  .section-00__btn-wr::before {
    max-width: 9.375rem
  }
  .loaded .section-00__btn-wr {
    bottom: 4.0625rem
  }
  .section-00__btn-wr {
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0)
  }
  .section-00__btn {
    padding-top: .5rem
  }
  .section-00__btn {
    padding-bottom: .375rem
  }
  .section-00__btn {
    padding-right: 2.5rem
  }
  .section-00__btn {
    padding-left: 2.5rem
  }
  .section-00__btn span {
    font-size: 1.8125rem
  }
  .section-00__btn::after {
    top: .625rem
  }
  .section-00__btn::after {
    right: -.5rem
  }
  .section-00__chips {
    display: none
  }
  .section-03__txts {
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    bottom: 8.4375rem
  }
  .section-03__txt {
    font-size: 1.625rem
  }
  .section-03__txt {
    padding-top: .625rem
  }
  .section-03__txt {
    padding-bottom: .375rem
  }
  .section-03__txt {
    padding-left: 1.25rem
  }
  .section-03__txt {
    padding-right: 1.25rem
  }
  .section-03__txt.txt-yellow {
    top: -.375rem
  }
  .section-03__txt.txt-yellow {
    margin-left: 5.625rem
  }
  .section-04__button {
    width: 2.5rem
  }
  .section-04__button {
    height: 2.5rem
  }
  .section-04__button svg {
    height: 1.875rem
  }
  .pack-slide__hand.hand-left {
    width: 25rem
  }
  .pack-slide__hand.hand-right {
    -webkit-transform: translate(61%,-47%);
    transform: translate(61%,-47%)
  }
  .section-05 .section-body::before {
    border-width: .9375rem
  }
  .section-05__txt {
    font-size: 1.375rem
  }
  .section-05__txt {
    top: 6.25rem
  }
  .section-05__body {
    bottom: 13.75rem;
    -webkit-transform: translate(-37%,0);
    transform: translate(-37%,0)
  }
  .section-05__body .img-before {
    width: 30.9375rem
  }
  .social {
    gap: .625rem
  }
  .social__link {
    max-width: 1.875rem
  }
  .video-youtube__body {
    width: 20rem
  }
  .video-youtube__button::before {
    width: 3.75rem
  }
  .video-youtube__button::before {
    height: 3.75rem
  }
}
@media (max-width:23.49875em) {
  .section-05__chel-1,
  .section-05__chel-2 {
    bottom: -35%!important
  }
  .section-05__body {
    bottom: 13.125rem
  }
}
@media (max-width:22.56125em) {
  .section-05__chel-1 {
    max-width: 14.375rem
  }
  .section-05__chel-2 {
    max-width: 15.625rem
  }
  .section-05__chill {
    padding: .75rem 1.125rem .9375rem
  }
}
@media (max-width:21.93625em) {
  .section-03__txt {
    font-size: 1.25rem!important
  }
}
@media (min-width:30.06125em) and (max-width:90em) {
  @supports (border-width:clamp(0.9375rem ,0.4673129862rem + 1.564096682vw ,1.875rem)) {
    .wrapper::before {
      border-width: clamp(.9375rem ,.4673129862rem + 1.564096682vw ,1.875rem)
    }
  }
  @supports not (border-width:clamp(0.9375rem ,0.4673129862rem + 1.564096682vw ,1.875rem)) {
    .wrapper::before {
      border-width: calc(.9375rem + .9375 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (top:clamp(0.875rem ,0.4048129862rem + 1.564096682vw ,1.8125rem)) {
    .logo {
      top: clamp(.875rem ,.4048129862rem + 1.564096682vw ,1.8125rem)
    }
  }
  @supports not (top:clamp(0.875rem ,0.4048129862rem + 1.564096682vw ,1.8125rem)) {
    .logo {
      top: calc(.875rem + .9375 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (width:clamp(8.75rem ,5.6154199078rem + 10.4273112135vw ,15rem)) {
    .logo img {
      width: clamp(8.75rem ,5.6154199078rem + 10.4273112135vw ,15rem)
    }
  }
  @supports not (width:clamp(8.75rem ,5.6154199078rem + 10.4273112135vw ,15rem)) {
    .logo img {
      width: calc(8.75rem + 6.25 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (padding-bottom:clamp(1.375rem ,0.6853923797rem + 2.294008467vw ,2.75rem)) {
    .scroll__footer {
      padding-bottom: clamp(1.375rem ,.6853923797rem + 2.294008467vw ,2.75rem)
    }
  }
  @supports not (padding-bottom:clamp(1.375rem ,0.6853923797rem + 2.294008467vw ,2.75rem)) {
    .scroll__footer {
      padding-bottom: calc(1.375rem + 1.375 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.2809625972rem + 0.3128193364vw ,1.5625rem)) {
    .scroll__txt {
      font-size: clamp(1.375rem ,1.2809625972rem + .3128193364vw ,1.5625rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.2809625972rem + 0.3128193364vw ,1.5625rem)) {
    .scroll__txt {
      font-size: calc(1.375rem + .1875 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (margin-bottom:clamp(0.875rem ,0.7496167963rem + 0.4170924485vw ,1.125rem)) {
    .scroll__txt {
      margin-bottom: clamp(.875rem ,.7496167963rem + .4170924485vw ,1.125rem)
    }
  }
  @supports not (margin-bottom:clamp(0.875rem ,0.7496167963rem + 0.4170924485vw ,1.125rem)) {
    .scroll__txt {
      margin-bottom: calc(.875rem + .25 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (height:clamp(3.25rem ,2.4977007779rem + 2.5025546912vw ,4.75rem)) {
    .scroll__ic img {
      height: clamp(3.25rem ,2.4977007779rem + 2.5025546912vw ,4.75rem)
    }
  }
  @supports not (height:clamp(3.25rem ,2.4977007779rem + 2.5025546912vw ,4.75rem)) {
    .scroll__ic img {
      height: calc(3.25rem + 1.5 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (right:clamp(-9.375rem ,-0.928877917rem + -9.3845800922vw ,-3.75rem)) {
    .section-00__btn-wr::before {
      right: clamp(-9.375rem ,-.928877917rem + -9.3845800922vw ,-3.75rem)
    }
  }
  @supports not (right:clamp(-9.375rem ,-0.928877917rem + -9.3845800922vw ,-3.75rem)) {
    .section-00__btn-wr::before {
      right: calc(-3.75rem + -5.625 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (max-width:clamp(9.375rem ,3.7014100332rem + 18.8734332965vw ,20.6875rem)) {
    .section-00__btn-wr::before {
      max-width: clamp(9.375rem ,3.7014100332rem + 18.8734332965vw ,20.6875rem)
    }
  }
  @supports not (max-width:clamp(9.375rem ,3.7014100332rem + 18.8734332965vw ,20.6875rem)) {
    .section-00__btn-wr::before {
      max-width: calc(9.375rem + 11.3125 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (padding-top:clamp(0.5rem ,0.3746167963rem + 0.4170924485vw ,0.75rem)) {
    .section-00__btn {
      padding-top: clamp(.5rem ,.3746167963rem + .4170924485vw ,.75rem)
    }
  }
  @supports not (padding-top:clamp(0.5rem ,0.3746167963rem + 0.4170924485vw ,0.75rem)) {
    .section-00__btn {
      padding-top: calc(.5rem + .25 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (padding-bottom:clamp(0.375rem ,-0.0011496111rem + 1.2512773456vw ,1.125rem)) {
    .section-00__btn {
      padding-bottom: clamp(.375rem ,-.0011496111rem + 1.2512773456vw ,1.125rem)
    }
  }
  @supports not (padding-bottom:clamp(0.375rem ,-0.0011496111rem + 1.2512773456vw ,1.125rem)) {
    .section-00__btn {
      padding-bottom: calc(.375rem + .75 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (padding-right:clamp(2.5rem ,0.6192519447rem + 6.2563867281vw ,6.25rem)) {
    .section-00__btn {
      padding-right: clamp(2.5rem ,.6192519447rem + 6.2563867281vw ,6.25rem)
    }
  }
  @supports not (padding-right:clamp(2.5rem ,0.6192519447rem + 6.2563867281vw ,6.25rem)) {
    .section-00__btn {
      padding-right: calc(2.5rem + 3.75 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (padding-left:clamp(2.5rem ,0.6192519447rem + 6.2563867281vw ,6.25rem)) {
    .section-00__btn {
      padding-left: clamp(2.5rem ,.6192519447rem + 6.2563867281vw ,6.25rem)
    }
  }
  @supports not (padding-left:clamp(2.5rem ,0.6192519447rem + 6.2563867281vw ,6.25rem)) {
    .section-00__btn {
      padding-left: calc(2.5rem + 3.75 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (font-size:clamp(1.8125rem ,0.9661633751rem + 2.8153740277vw ,3.5rem)) {
    .section-00__btn span {
      font-size: clamp(1.8125rem ,.9661633751rem + 2.8153740277vw ,3.5rem)
    }
  }
  @supports not (font-size:clamp(1.8125rem ,0.9661633751rem + 2.8153740277vw ,3.5rem)) {
    .section-00__btn span {
      font-size: calc(1.8125rem + 1.6875 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (top:clamp(0.625rem ,0.3115419908rem + 1.0427311214vw ,1.25rem)) {
    .section-00__btn::after {
      top: clamp(.625rem ,.3115419908rem + 1.0427311214vw ,1.25rem)
    }
  }
  @supports not (top:clamp(0.625rem ,0.3115419908rem + 1.0427311214vw ,1.25rem)) {
    .section-00__btn::after {
      top: calc(.625rem + .625 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (right:clamp(-1rem ,-0.2492335926rem + -0.8341848971vw ,-0.5rem)) {
    .section-00__btn::after {
      right: clamp(-1rem ,-.2492335926rem + -.8341848971vw ,-.5rem)
    }
  }
  @supports not (right:clamp(-1rem ,-0.2492335926rem + -0.8341848971vw ,-0.5rem)) {
    .section-00__btn::after {
      right: calc(-.5rem + -.5 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (font-size:clamp(1.625rem ,0.8727007779rem + 2.5025546912vw ,3.125rem)) {
    .section-03__txt {
      font-size: clamp(1.625rem ,.8727007779rem + 2.5025546912vw ,3.125rem)
    }
  }
  @supports not (font-size:clamp(1.625rem ,0.8727007779rem + 2.5025546912vw ,3.125rem)) {
    .section-03__txt {
      font-size: calc(1.625rem + 1.5 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.5623083982rem + 0.2085462243vw ,0.75rem)) {
    .section-03__txt {
      padding-top: clamp(.625rem ,.5623083982rem + .2085462243vw ,.75rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.5623083982rem + 0.2085462243vw ,0.75rem)) {
    .section-03__txt {
      padding-top: calc(.625rem + .125 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (padding-bottom:clamp(0.375rem ,0.0615419908rem + 1.0427311214vw ,1rem)) {
    .section-03__txt {
      padding-bottom: clamp(.375rem ,.0615419908rem + 1.0427311214vw ,1rem)
    }
  }
  @supports not (padding-bottom:clamp(0.375rem ,0.0615419908rem + 1.0427311214vw ,1rem)) {
    .section-03__txt {
      padding-bottom: calc(.375rem + .625 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (padding-left:clamp(1.25rem ,0.6230839816rem + 2.0854622427vw ,2.5rem)) {
    .section-03__txt {
      padding-left: clamp(1.25rem ,.6230839816rem + 2.0854622427vw ,2.5rem)
    }
  }
  @supports not (padding-left:clamp(1.25rem ,0.6230839816rem + 2.0854622427vw ,2.5rem)) {
    .section-03__txt {
      padding-left: calc(1.25rem + 1.25 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (padding-right:clamp(1.25rem ,0.6230839816rem + 2.0854622427vw ,2.5rem)) {
    .section-03__txt {
      padding-right: clamp(1.25rem ,.6230839816rem + 2.0854622427vw ,2.5rem)
    }
  }
  @supports not (padding-right:clamp(1.25rem ,0.6230839816rem + 2.0854622427vw ,2.5rem)) {
    .section-03__txt {
      padding-right: calc(1.25rem + 1.25 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (top:clamp(-0.625rem ,-0.2496167963rem + -0.4170924485vw ,-0.375rem)) {
    .section-03__txt.txt-yellow {
      top: clamp(-.625rem ,-.2496167963rem + -.4170924485vw ,-.375rem)
    }
  }
  @supports not (top:clamp(-0.625rem ,-0.2496167963rem + -0.4170924485vw ,-0.375rem)) {
    .section-03__txt.txt-yellow {
      top: calc(-.375rem + -.25 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (margin-left:clamp(5.625rem ,2.1769618986rem + 11.4700423349vw ,12.5rem)) {
    .section-03__txt.txt-yellow {
      margin-left: clamp(5.625rem ,2.1769618986rem + 11.4700423349vw ,12.5rem)
    }
  }
  @supports not (margin-left:clamp(5.625rem ,2.1769618986rem + 11.4700423349vw ,12.5rem)) {
    .section-03__txt.txt-yellow {
      margin-left: calc(5.625rem + 6.875 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (width:clamp(2.5rem ,1.8730839816rem + 2.0854622427vw ,3.75rem)) {
    .section-04__button {
      width: clamp(2.5rem ,1.8730839816rem + 2.0854622427vw ,3.75rem)
    }
  }
  @supports not (width:clamp(2.5rem ,1.8730839816rem + 2.0854622427vw ,3.75rem)) {
    .section-04__button {
      width: calc(2.5rem + 1.25 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (height:clamp(2.5rem ,1.8730839816rem + 2.0854622427vw ,3.75rem)) {
    .section-04__button {
      height: clamp(2.5rem ,1.8730839816rem + 2.0854622427vw ,3.75rem)
    }
  }
  @supports not (height:clamp(2.5rem ,1.8730839816rem + 2.0854622427vw ,3.75rem)) {
    .section-04__button {
      height: calc(2.5rem + 1.25 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (height:clamp(1.875rem ,0.9346259723rem + 3.1281933641vw ,3.75rem)) {
    .section-04__button svg {
      height: clamp(1.875rem ,.9346259723rem + 3.1281933641vw ,3.75rem)
    }
  }
  @supports not (height:clamp(1.875rem ,0.9346259723rem + 3.1281933641vw ,3.75rem)) {
    .section-04__button svg {
      height: calc(1.875rem + 1.875 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (border-width:clamp(0.9375rem ,0.4673129862rem + 1.564096682vw ,1.875rem)) {
    .section-05 .section-body::before {
      border-width: clamp(.9375rem ,.4673129862rem + 1.564096682vw ,1.875rem)
    }
  }
  @supports not (border-width:clamp(0.9375rem ,0.4673129862rem + 1.564096682vw ,1.875rem)) {
    .section-05 .section-body::before {
      border-width: calc(.9375rem + .9375 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (width:clamp(3.75rem ,2.6528969677rem + 3.6495589247vw ,5.9375rem)) {
    .video-youtube__button::before {
      width: clamp(3.75rem ,2.6528969677rem + 3.6495589247vw ,5.9375rem)
    }
  }
  @supports not (width:clamp(3.75rem ,2.6528969677rem + 3.6495589247vw ,5.9375rem)) {
    .video-youtube__button::before {
      width: calc(3.75rem + 2.1875 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
  @supports (height:clamp(3.75rem ,2.6528969677rem + 3.6495589247vw ,5.9375rem)) {
    .video-youtube__button::before {
      height: clamp(3.75rem ,2.6528969677rem + 3.6495589247vw ,5.9375rem)
    }
  }
  @supports not (height:clamp(3.75rem ,2.6528969677rem + 3.6495589247vw ,5.9375rem)) {
    .video-youtube__button::before {
      height: calc(3.75rem + 2.1875 * (100vw - 30.06125rem)/ 59.93875)
    }
  }
}
@media (min-width:85.43625em) and (max-width:120em) {
  @supports (width:clamp(18.75rem ,6.3907724856rem + 14.4660229286vw ,23.75rem)) {
    .section-00__pack {
      width: clamp(18.75rem ,6.3907724856rem + 14.4660229286vw ,23.75rem)
    }
  }
  @supports not (width:clamp(18.75rem ,6.3907724856rem + 14.4660229286vw ,23.75rem)) {
    .section-00__pack {
      width: calc(18.75rem + 5 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (max-width:clamp(16.25rem ,-0.7439378323rem + 19.8907815269vw ,23.125rem)) {
    .section-05__chel-1 {
      max-width: clamp(16.25rem ,-.7439378323rem + 19.8907815269vw ,23.125rem)
    }
  }
  @supports not (max-width:clamp(16.25rem ,-0.7439378323rem + 19.8907815269vw ,23.125rem)) {
    .section-05__chel-1 {
      max-width: calc(16.25rem + 6.875 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (max-width:clamp(18.125rem ,-1.9587447109rem + 23.5072872591vw ,26.25rem)) {
    .section-05__chel-2 {
      max-width: clamp(18.125rem ,-1.9587447109rem + 23.5072872591vw ,26.25rem)
    }
  }
  @supports not (max-width:clamp(18.125rem ,-1.9587447109rem + 23.5072872591vw ,26.25rem)) {
    .section-05__chel-2 {
      max-width: calc(18.125rem + 8.125 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (width:clamp(56.875rem ,0.4860244657rem + 66.0012296119vw ,79.6875rem)) {
    .section-05__body .img-before {
      width: clamp(56.875rem ,.4860244657rem + 66.0012296119vw ,79.6875rem)
    }
  }
  @supports not (width:clamp(56.875rem ,0.4860244657rem + 66.0012296119vw ,79.6875rem)) {
    .section-05__body .img-before {
      width: calc(56.875rem + 22.8125 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
  @supports (width:clamp(37.5rem ,0.4223174569rem + 43.3980687859vw ,52.5rem)) {
    .video-youtube__body {
      width: clamp(37.5rem ,.4223174569rem + 43.3980687859vw ,52.5rem)
    }
  }
  @supports not (width:clamp(37.5rem ,0.4223174569rem + 43.3980687859vw ,52.5rem)) {
    .video-youtube__body {
      width: calc(37.5rem + 15 * (100vw - 85.43625rem)/ 34.56375)
    }
  }
}
@media (min-width:30.06125em) and (max-width:85.43625em) {
  @supports (width:clamp(16.25rem ,14.8928329571rem + 4.5146726862vw ,18.75rem)) {
    .section-00__pack {
      width: clamp(16.25rem ,14.8928329571rem + 4.5146726862vw ,18.75rem)
    }
  }
  @supports not (width:clamp(16.25rem ,14.8928329571rem + 4.5146726862vw ,18.75rem)) {
    .section-00__pack {
      width: calc(16.25rem + 2.5 * (100vw - 30.06125rem)/ 55.375)
    }
  }
  @supports (width:clamp(30.9375rem ,16.85689193rem + 46.8397291196vw ,56.875rem)) {
    .section-05__body .img-before {
      width: clamp(30.9375rem ,16.85689193rem + 46.8397291196vw ,56.875rem)
    }
  }
  @supports not (width:clamp(30.9375rem ,16.85689193rem + 46.8397291196vw ,56.875rem)) {
    .section-05__body .img-before {
      width: calc(30.9375rem + 25.9375 * (100vw - 30.06125rem)/ 55.375)
    }
  }
  @supports (width:clamp(20rem ,10.4998306998rem + 31.6027088036vw ,37.5rem)) {
    .video-youtube__body {
      width: clamp(20rem ,10.4998306998rem + 31.6027088036vw ,37.5rem)
    }
  }
  @supports not (width:clamp(20rem ,10.4998306998rem + 31.6027088036vw ,37.5rem)) {
    .video-youtube__body {
      width: calc(20rem + 17.5 * (100vw - 30.06125rem)/ 55.375)
    }
  }
}
@media (min-width:51.31125em) and (max-width:120em) {
  @supports (width:clamp(29.375rem ,-13.1112491128rem + 82.8010409274vw ,86.25rem)) {
    .pack-slide__hand.hand-left {
      width: clamp(29.375rem ,-13.1112491128rem + 82.8010409274vw ,86.25rem)
    }
  }
  @supports not (width:clamp(29.375rem ,-13.1112491128rem + 82.8010409274vw ,86.25rem)) {
    .pack-slide__hand.hand-left {
      width: calc(29.375rem + 56.875 * (100vw - 51.31125rem)/ 68.68875)
    }
  }
  @supports (left:clamp(-4rem ,2.9880440028rem + -5.8233700024vw ,0.0000000625rem)) {
    .pack-slide__hand.hand-left {
      left: clamp(-4rem ,2.9880440028rem + -5.8233700024vw ,.0000000625rem)
    }
  }
  @supports not (left:clamp(-4rem ,2.9880440028rem + -5.8233700024vw ,0.0000000625rem)) {
    .pack-slide__hand.hand-left {
      left: calc(.0000000625rem + -4.0000000625 * (100vw - 51.31125rem)/ 68.68875)
    }
  }
  @supports (width:clamp(21.25rem ,1.5475855762rem + 38.3978453531vw ,47.625rem)) {
    .pack-slide__hand.hand-right {
      width: clamp(21.25rem ,1.5475855762rem + 38.3978453531vw ,47.625rem)
    }
  }
  @supports not (width:clamp(21.25rem ,1.5475855762rem + 38.3978453531vw ,47.625rem)) {
    .pack-slide__hand.hand-right {
      width: calc(21.25rem + 26.375 * (100vw - 51.31125rem)/ 68.68875)
    }
  }
}
@media (min-width:30.06125em) and (max-width:51.31125em) {
  @supports (width:clamp(25rem ,18.8109191176rem + 20.5882352941vw ,29.375rem)) {
    .pack-slide__hand.hand-left {
      width: clamp(25rem ,18.8109191176rem + 20.5882352941vw ,29.375rem)
    }
  }
  @supports not (width:clamp(25rem ,18.8109191176rem + 20.5882352941vw ,29.375rem)) {
    .pack-slide__hand.hand-left {
      width: calc(25rem + 4.375 * (100vw - 30.06125rem)/ 21.25)
    }
  }
}
@media (min-width:20em) and (max-width:51.31125em) {
  @supports (left:clamp(-2.5rem ,-4.0968701745rem + 7.9843508723vw ,0.0000000625rem)) {
    .pack-slide__hand.hand-left {
      left: clamp(-2.5rem ,-4.0968701745rem + 7.9843508723vw ,.0000000625rem)
    }
  }
  @supports not (left:clamp(-2.5rem ,-4.0968701745rem + 7.9843508723vw ,0.0000000625rem)) {
    .pack-slide__hand.hand-left {
      left: calc(-2.5rem + 2.5000000625 * (100vw - 20rem)/ 31.31125)
    }
  }
  @supports (bottom:clamp(-5rem ,-8.193740309rem + 15.968701545vw ,0.0000000625rem)) {
    .pack-slide__hand.hand-left {
      bottom: clamp(-5rem ,-8.193740309rem + 15.968701545vw ,.0000000625rem)
    }
  }
  @supports not (bottom:clamp(-5rem ,-8.193740309rem + 15.968701545vw ,0.0000000625rem)) {
    .pack-slide__hand.hand-left {
      bottom: calc(-5rem + 5.0000000625 * (100vw - 20rem)/ 31.31125)
    }
  }
  @supports (width:clamp(10.75rem ,4.0431454349rem + 33.5342728253vw ,21.25rem)) {
    .pack-slide__hand.hand-right {
      width: clamp(10.75rem ,4.0431454349rem + 33.5342728253vw ,21.25rem)
    }
  }
  @supports not (width:clamp(10.75rem ,4.0431454349rem + 33.5342728253vw ,21.25rem)) {
    .pack-slide__hand.hand-right {
      width: calc(10.75rem + 10.5 * (100vw - 20rem)/ 31.31125)
    }
  }
}
@media (max-width:51.31125em) and (min-width:30.06125em) {
  .pack-slide__hand.hand-right {
    -webkit-transform: translate(61%,-43%);
    transform: translate(61%,-43%)
  }
}
@media (min-width:30.06125em) and (max-width:120em) {
  @supports (font-size:clamp(1.375rem ,1.1660991508rem + 0.6949173743vw ,2rem)) {
    .section-05__txt {
      font-size: clamp(1.375rem ,1.1660991508rem + .6949173743vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.1660991508rem + 0.6949173743vw ,2rem)) {
    .section-05__txt {
      font-size: calc(1.375rem + .625 * (100vw - 30.06125rem)/ 89.93875)
    }
  }
}
@media (min-width:22.56125em) and (max-width:85.43625em) {
  @supports (max-width:clamp(14.375rem ,13.7021993042rem + 2.9821073559vw ,16.25rem)) {
    .section-05__chel-1 {
      max-width: clamp(14.375rem ,13.7021993042rem + 2.9821073559vw ,16.25rem)
    }
  }
  @supports not (max-width:clamp(14.375rem ,13.7021993042rem + 2.9821073559vw ,16.25rem)) {
    .section-05__chel-1 {
      max-width: calc(14.375rem + 1.875 * (100vw - 22.56125rem)/ 62.875)
    }
  }
  @supports (max-width:clamp(15.625rem ,14.7279324056rem + 3.9761431412vw ,18.125rem)) {
    .section-05__chel-2 {
      max-width: clamp(15.625rem ,14.7279324056rem + 3.9761431412vw ,18.125rem)
    }
  }
  @supports not (max-width:clamp(15.625rem ,14.7279324056rem + 3.9761431412vw ,18.125rem)) {
    .section-05__chel-2 {
      max-width: calc(15.625rem + 2.5 * (100vw - 22.56125rem)/ 62.875)
    }
  }
}
@media (min-width:30.06125em) and (max-width:48.06125em) {
  @supports (max-width:clamp(1.875rem ,-0.2125868056rem + 6.9444444444vw ,3.125rem)) {
    .social__link {
      max-width: clamp(1.875rem ,-.2125868056rem + 6.9444444444vw ,3.125rem)
    }
  }
  @supports not (max-width:clamp(1.875rem ,-0.2125868056rem + 6.9444444444vw ,3.125rem)) {
    .social__link {
      max-width: calc(1.875rem + 1.25 * (100vw - 30.06125rem)/ 18)
    }
  }
}
@media (any-hover:hover) {
  .section-00__btn:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
  }
  .section-00__btn:hover::after,
  .section-00__btn:hover::before {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
  }
  .social__link:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }
}