.wrapper {
  position: relative;
  &::before {
    content:'';
    position: fixed;
    z-index: 8;
    inset: 0;
    border: solid $redMain;
    @include adaptiveValue("border-width", 30, 15,0,1440,480.98);
    pointer-events: none;
    transition: opacity .3s ease;
    .fp-section-4 &,
    .fp-section-5 & {
      opacity: 0;
    }
  }
}
.section-body {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  .loaded & {
    opacity: 1 !important;
  }
}

.logo {
  position: fixed;
  z-index: 10;
  @include adaptiveValue("top", 29, 14,0,1440,480.98);
  left: 50%;
  background-color:$redMain;
  transform: translate(-50%,0);
  transition: opacity .3s ease;
  opacity: 0;
  .loaded & {
    opacity: 1;
  }
  .fp-section-4 & {
    background-color:transparent;
  }
  .fp-section-5 & {
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      opacity: 0;
    }
  }
  img {
    height: auto;
    @include adaptiveValue("width", 240, 140,0,1440,480.98);
  }
  @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
    top: toRem(6) !important;;
  }
}


.scroll {
  position: absolute;
  inset: 0;
  z-index: 9;
  background-image: linear-gradient(181.01deg, rgba(0, 0, 0, 0) 36.805%,rgba(119, 14, 23, 0.64) 69.197%,rgb(236, 28, 45) 93.756%);
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  transition: opacity .8s ease;
  
  // .scroll__footer
  &__footer {
    pointer-events: all;
    @include adaptiveValue("padding-bottom", 44, 22,0,1440,480.98);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // .scroll__txt
  &__txt {
    @include adaptiveValue("font-size", 25, 22,0,1440,480.98);
    color: #fff;
    text-align: center;
    // text-transform: uppercase;
    @include adaptiveValue("margin-bottom", 18, 14,0,1440,480.98);
    opacity: 0;
    transform: translate(0,100%);
    transition: opacity .7s ease, transform 0.6s ease;
  }
  // .scroll__ic
  &__ic {
    position: relative;
    opacity: 0;
    transition: opacity .7s ease;
    img {
      @include adaptiveValue("height", 76, 52,0,1440,480.98);
    }
    &::before,
    &::after {
      content:'';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: toRem(100);
      height: toRem(100);
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      // border: 15px solid rgba(255, 255, 255, 1);
      @media (max-width:520px){
        width: toRem(86);
        height: toRem(86);
      }
    }
    &:before {
      animation: mouse-circles 2s ease-out 0s forwards infinite;
    }
    &::after {
      animation: mouse-circles 2s ease-out 0.5s forwards infinite;
    }
  }
}

@keyframes mouse-circles {
  0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
  }

  100% {
      transform: translate(-50%, -50%) scale(1.5);
      opacity: 0;
  }
}

.section-00 {
    .scroll {
      
      .loaded & {
        opacity: 1;
        transition-delay: 1.5s
      }
      // background-image: unset;
      @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
        justify-content: flex-start !important;
        padding-left: toRem(20);
      }
    }
    .scroll__ic {
      .loaded & {
        opacity: 1;
        transition-delay: 1.65s;
      }
    }
}

.section-01,
.section-02,
.section-03 {
  &.active-section {
    .scroll {
      opacity: 1;
      transition-delay: 1.5s
    }
    .scroll__txt {
      opacity: 1;
      transform: translate(0,0);
      transition-delay: 1.65s;
    }
    .scroll__ic {
      opacity: 1;
      transition-delay: 1.65s;
    }
  }
}



.section-03 {
  &.active-section {
    .scroll {
      @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
        justify-content: flex-start !important;
        padding-left: toRem(30);
      }
    }
  }
}


.section-img {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
