.section-00 {
	// .section-00__img
	&__img {
    object-position: left;
	}
	// .section-00__rectangle
	&__rectangle {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 40%;
    z-index: 4;

    @media (max-width: toEm(1050)) and (orientation: portrait) {
      width: 60%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: $redMain;
      clip-path: polygon(53% 0, 100% 0, 100% 100%, 0% 100%);
      @media (max-width: toEm(1050)) and (orientation: portrait) {
        clip-path: polygon(100% 11%, 100% 0, 100% 100%, 0% 100%);
      }
    }

	}
	// .section-00__pack-wr
	&__pack-wr {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-8%, 18%) rotate(-20deg);
    @media (max-width: toEm(1050)) and (orientation: portrait) {
      transform: translate(76%, 18%) rotate(-30deg);
    }
    @media (max-width:$mobileSmall){
      transform: translate(8%, 18%) rotate(-30deg);
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      transform: translate(-30%, 15%) rotate(-30deg);
    }
	}
	// .section-00__pack
	&__pack {
    position: relative;
    height: auto;
    @include adaptiveValue("width", 380, 300,2,1920,1366.98);
    @include adaptiveValue("width", 300, 260,3,1366.98,480.98);
    left: 100%;
    top: 50px;
    opacity: 0;
    transition: all .65s ease;
    .loaded & {
      left: 0;
      top: 0;
      opacity: 1;
      transition-delay: .4s;
      // animation: pack 2s 1s infinite;
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      width: toRem(260) !important;
    }
	}
	// .section-00__btn-wr
	&__btn-wr {
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity .8s ease, transform 1s ease, bottom 1s ease;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      @include adaptiveValue("right", -150, -60,0,1440,480.98);
      transform: translate(0%,-50%);
      background-image: url('../img/icons/stars.svg');
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      @include adaptiveValue("max-width", 331, 150,0,1440,480.98 );
      aspect-ratio: 331/391;
      opacity: 0;
      transition: opacity 1.2s ease;
      .loaded & {
        opacity: 1;
        transition-delay: 0.6s;
      }
    }
    .loaded & {
      opacity: 1;
      @media (min-width:$mobileSmall){
        transform: translate(0%,-50%);
      }
      @media (max-width:$mobileSmall){
        bottom: toRem(65);
      }
    }
    @media (min-width:$mobileSmall){
      top: 50%;
      right: 15%;
      transform: translate(0%,50%);
    }
    @media (max-width:$mobileSmall){
      bottom: toRem(0);
      left: 50%;
      transform: translate(-50%,0);
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      top: unset !important;
      bottom: toRem(0) !important;
      // left: 50% !important;
      // transform: translate(-50%,0) !important;
    }
	}
	// .section-00__btn
	&__btn {
    @include adaptiveValue("padding-top", 12, 8,0,1440,480.98);
    @include adaptiveValue("padding-bottom", 18, 6,0,1440,480.98);
    @include adaptiveValue("padding-right", 100, 40,0,1440,480.98);
    @include adaptiveValue("padding-left", 100, 40,0,1440,480.98);
    color: #fff;
    .loaded & { 
      animation: pulse 2s 1s infinite;
    }
    @media (any-hover: hover){
      &:hover{
        animation-play-state: paused;
        &::before,
        &::after {
          animation-play-state: paused;
        }
      }
    }
    span {
      position: relative;
      z-index: 2;
      @include adaptiveValue("font-size", 56, 29,0,1440,480.98);
      text-wrap: nowrap;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      transform: skew(-17deg);
    }
    &::before {
      z-index: 1;
      top: 0;
      right: 0;
      background-color: $redMain;
    }
    &::after {
      content: '';
      z-index: 0;
      @include adaptiveValue("top", 20, 10,0,1440,480.98);
      @include adaptiveValue("right", -16, -8,0,1440,480.98);
      background-color: #FDD328;
      box-shadow: 0px 6.34px 22.99px 0px rgba(0, 0, 0, 0.67);
    }

   
	}
  // .section-00__chips
  &__chips {
    @media (min-width:$mobileSmall){
      position: absolute;
      z-index: 5;
      bottom: -9%;
      right: -3%;
      max-width: toRem(450);
      width: 100%;
      height: auto;
      opacity: 0;
      transform: scale(0.5);
      transition: opacity .6s, transform .6s ease;
      .loaded & {
        opacity: 1;
        transform: scale(1);
        
      }
    }
    @media (max-width:$mobileSmall){
       display: none; 
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      display: none;
    }
  }
}
// @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {}
@keyframes pulse {
	0% {
		transform: scale(1);
	}

	40% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	} 
}
// @keyframes pack {
// 	0% {
// 		transform: rotate(0deg);
// 	}

// 	60% {
// 		transform: rotate(5deg);
// 	}

// 	100% {
// 		transform: rotate(0deg);
// 	} 
// }


.section-01 {
  // .section-01__img
  &__img {
    @media (min-width:toEm(1050.98)){
      object-position: top;
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      object-position: top;
    }
  }
}


.section-02 {}


.section-03 {
  // .section-03__img
  &__img {
    @media (min-width:toEm(1050.98)){
      object-position: top;
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      object-position: top;
    }
  }
	// .section-03__txts
	&__txts {
    position: absolute;
    z-index: 10;
    @media (min-width:$mobileSmall){
      top: 60%;
      right: 8%;
      transform: translateY(-50%);
    }
    @media (max-width:$mobileSmall){
      left: 50%;   
      transform: translate(-50%,0%);
      bottom: toRem(135);     
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      top: 75%;
      right: 5%;
    }
	}
	// .section-03__txt
	&__txt {
    position: relative;
    color: #fff;
    text-align: center;
    text-wrap: nowrap;
    width: fit-content;
    @include adaptiveValue("font-size", 50, 26,0,1440,480.98);
    @include adaptiveValue("padding-top", 12, 10,0,1440,480.98);
    @include adaptiveValue("padding-bottom", 16, 6,0,1440,480.98);
    @include adaptiveValue("padding-left", 40, 20,0,1440,480.98);
    @include adaptiveValue("padding-right", 40, 20,0,1440,480.98);
    clip-path: polygon(0 0, 100% 0%, 97% 100%, 3% 100%);

    opacity: 0;
    transition: opacity .65s ease;
    .active-section & {
      opacity: 1;
    }
    span {
      opacity: 0;
      transition: opacity .5s ease, transform .65s ease;
      transform: translateY(100%);
      display: inline-block;
      .active-section & {
        opacity: 1;
        transform: translateY(0%);
      }
    }

    @media (max-width: toEm(350.98)){
        font-size: toRem(20) !important;
    }
    &.txt-red {
      background-color:$redMain;
      .active-section & {
        transition-delay: 0.3s;
      }
      span {
        .active-section & {
          transition-delay: 0.45s;
        }
      }
    }
    &.txt-yellow {
      @include adaptiveValue("top", -10,-6,0,1440,480.98);
      @include adaptiveValue("margin-left", 200, 90,0,1440,480.98);
      background-color: #F0C519;
      .active-section & {
        transition-delay: 0.5s;
      }
      span {
        .active-section & {
          transition-delay: 0.55s;
        }
      }
    }
	}
}


.section-04 {
  .section-body {
    transition: background-color .3s ease;
    &.slide-1 {
      background-color: $bg01;
    }
    &.slide-2 {
      background-color: $bg02;
    }
    &.slide-3 {
      background-color: $bg03;
    }
    &.slide-4 {
      background-color: $bg04;
    }
    &.slide-5 {
      background-color: $bg05;
    }
    &.slide-6 {
      background-color: $bg06;
    }
    &.slide-7 {
      background-color: $bg07;
    }
  }
  // .section-04__img
  &__img {
  }
  // .section-04__slider
  &__slider {
    overflow: visible !important;
    height: 100vh;
    height: 100svh;
  }
  // .section-04__wrapper
  &__wrapper {
  }
  // .section-04__slide
  &__slide {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &.slide-1 {
      .pack-slide__hand {
        .hand-color {
          fill: #FA9A17;
        }
      }
    }
    &.slide-2 {
      .pack-slide__hand {
        .hand-color {
          fill: #B32306;
        }
      }
    }
    &.slide-3 {
      .pack-slide__hand {
        .hand-color {
          fill: #0A5151;
        }
      }
    }
    &.slide-4 {
      .pack-slide__hand {
        .hand-color {
          fill: #3C68AA;
        }
      }
    }
    &.slide-5 {
      .pack-slide__hand {
        .hand-color {
          fill: #95222F;
        }
      }
    }
    &.slide-6 {
      .pack-slide__hand {
        .hand-color {
          fill: #2D9D21;
        }
      }
    }
    &.slide-7 {
      .pack-slide__hand {
        .hand-color {
          fill: #CB2D5F;
        }
      }
    }

    &.slide-6,
    &.slide-7 {
      .pack-slide {
        @media (max-width: toEm(820.98)){
          max-width: 50% !important;
        }
        .pack-slide__pack {
          @media (min-width:toEm(820.98)){
              width: 70%;
          }  
          &.pack-lt {
            @media (min-width:toEm(820.98)){
              transform: rotate(27deg) translate(32%, -15%) !important;
            }
          }
          &.pack-center {
            @media (min-width:toEm(820.98)){
              transform: rotate(6deg) translate(17%,0%) !important;
            }
          }
          &.pack-rt {
            @media (min-width:toEm(820.98)){
              transform: rotate(-33deg) translate(-34%, 32%) !important;
            }
          }
        }
        .pack-slide__hand {
          &.hand-left {
            @media (max-width: toEm(820.98)){
              transform: translate(-100%,49%) rotate(-40deg) !important;
              bottom: toRem(-14) !important;
              left: 0 !important;
            }
          }
          &.hand-right {
            @media (max-width: toEm(820.98)){
              transform: translate(88%, -56%) !important; 
            }
          }
        }
      }
    }
  }
  // .section-04__button
  &__button {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .3s ease;
    @include adaptiveValue("width", 60, 40,0,1440,480.98);
    @include adaptiveValue("height", 60, 40,0,1440,480.98);
    svg {
      width: auto;
      @include adaptiveValue("height", 60,30,0,1440,480.98 );
    }
    &.swiper-button-prev {
      left: toRem(30)
    }
    &.swiper-button-next {
      right: toRem(30);
    }
    &.swiper-button-disabled {
      opacity: 0;
    }
  }
}

.pack-slide {
  position: relative;
  display: grid;
  align-items: center;
  height: 100%;
  max-width: 70%;
  @media (min-width:toEm(820.98)){
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
  }
  @media (max-width: toEm(820.98)){
      grid-template-columns: 1fr;
  }
  // .pack-slide__pack
  &__pack {
    position: relative;
    min-height: 100%;
    &.pack-lt {
      @media (min-width:toEm(820.98)){
        transform: rotate(28deg) translate(7%,-7%);
      }
      @media (max-width: toEm(820.98)){
          display: none;
      }
    }
    &.pack-center {
      transform: rotate(6deg);
    }
    &.pack-rt {
      @media (min-width:toEm(820.98)){
        transform: rotate(-24deg) translate(-35%,14%);
      }
      @media (max-width: toEm(820.98)){
        display: none;
      }
    }
  }
	// .pack-slide__wr
	&__wr {
    position: relative;
    height: fit-content;
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      height: 80%;
      min-height: 80%;
    }
	}
  // .pack-slide__hand
  &__hand {
    position: absolute;
    z-index: 5;
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      display: none;
    }
    &.hand-left {
      @include adaptiveValue("width", 1380, 470,2,1920,820.98);
      @include adaptiveValue("width", 470, 400,3,820.98,480.98);
      @include adaptiveValue("left", -64, 0,2,1920,820.98);
      @include adaptiveValue("left", 0, -40,3,820.98,320);
      @include adaptiveValue("bottom", 0,-80,0,820.98,320);
      @media (min-width:toEm(820.98)){
        top: 0;
        transform: translate(-68%,-44%);
      }
      @media (max-width: toEm(820.98)){
        transform: translate(-78%,40%) rotate(-40deg);
        // bottom: 0;
      }
    }
    &.hand-right {
      right: 0;
      top: 0;
      @include adaptiveValue("width", 762, 340,2,1920,820.98);
      @include adaptiveValue("width", 340, 172,3,820.98,320);
      @media (min-width:toEm(820.98)){
        transform: translate(50%,-50%);
      }
      @media (max-width: toEm(820.98)) and (min-width:$mobileSmall) {
        transform: translate(61%, -43%);
      }
     
      @media (max-width:$mobileSmall){
        transform: translate(61%, -47%);
      }
    }
  }
}

.section-05 {
  &.active-section {
    .section-body {
      &::before{
        opacity: 1;
      }
      &::after {
        opacity: 1;
        transition-delay: 1s;
      }
    }
    .section-05__txt {
      opacity: 1;
      transform: translate(-50%,0%);
      transition-delay: 1.2s;
    }
  }
  .section-body {
    &:after,
    &:before {
      content:'';
      position: absolute;
      inset: 0;
      pointer-events: none;
      opacity: 0;
    }
    &::after {
      z-index: 6;
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 65.749%,rgba(119, 14, 23, 0.64) 73.893%,rgb(236, 28, 45) 92.293%);
      transition: opacity 1s ease;
    }
    &::before {
      z-index: 5;
      border: solid $redMain;
      @include adaptiveValue("border-width", 30, 15,0,1440,480.98);
      transition: opacity .3s ease;
    }
  }
	// .section-05__txt
	&__txt {
    position: absolute;
    z-index: 7;
    top: 150px;
    left: 50%;
    color: #fff;
    text-align: center;
    @include adaptiveValue("font-size", 32,22,0,1920,480.98 );
    opacity: 0;
    transform: translate(-50%,100%);
    transition: opacity .45s ease, transform .65s ease;
    @media (max-width:$mobileSmall){
       top: toRem(100); 
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      top: toRem(30);
      // bottom: toRem(20);
    }
	}
  // .section-05__img
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @media (max-width:65.625em) and (orientation: portrait) {
      object-position: bottom; 
    }
  }
  &__chel-1,
  &__chel-2 {
    position: absolute;
    z-index: 6;
    height: fit-content;
    pointer-events: none;
    @media (max-width:toEm(750.98)){
      bottom: -20% !important;
    }
    @media (max-width: toEm(375.98)){
      bottom: -35% !important;
    }
  }
	// .section-05__chel-1
	&__chel-1 {
    left: 0;
    bottom: toRem(20);
    @include adaptiveValue("max-width", 370, 260,2,1920,1366.98);
    @include adaptiveValue("max-width", 260, 230,3,1366.98,360.98);
    @media (max-width:toEm(750.98)){
      left: 3% ; 
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      display: none;
    }
	}
	// .section-05__chel-2
	&__chel-2 {
    right: 0;
    bottom: toRem(30);
    @include adaptiveValue("max-width", 420, 290,2,1920,1366.98);
    @include adaptiveValue("max-width", 290, 250,3,1366.98,360.98);
    @media (max-width:toEm(750.98)){
       right: 3%; 
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      display: none;
    }
	}
  // .section-05__body
  &__body {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width:toEm(1024.98)){
      transform: translate(-48%,-50%);
    }
    @media (max-width: toEm(1024.98)){
      transform: translate(-41%,-50%);
    }
    @media (max-width:65.625em) and (orientation: portrait) {
      top: unset !important;
      bottom: toRem(230);
      height: 40vh !important;
      transform: translate(-41%,0%);
    }
    @media (max-width:toEm(820.98)) and (orientation: portrait) {
      bottom: toRem(200);
    }
    @media (max-width: toEm(750.98)){
        bottom: toRem(240);
    }
    @media (max-width:$mobileSmall){
      bottom: toRem(220);
      transform: translate(-37%,0%);
    }
    @media (max-width: toEm(375.98)){
      bottom: toRem(210);
    }
    .img-before {
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      @include adaptiveValue("width", 1265, 910,2,1920,1366.98);
      @include adaptiveValue("width", 910,488,3,1366.98,480.98);
      height: auto;
      transform: translate(-50%,-50%);
    }
  }
  // .section-05__footer
  &__footer {
    display: flex;
    justify-content: center;
    gap: toRem(30);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    @media (max-width:$mobile){
      gap: toRem(20); 
    }
    @media (min-width:toEm(1050.98)){
        padding: 0 0 toRem(50) 0;
    }
    @media (max-width:toEm(1050.98)){
      padding: toRem(15) 0;
       background-color:$redMain; 
    }
    @media (max-width: toEm(900.98)) and (max-height: toRem(480.98)) {
      display: none;
    }
  }
  // .section-05__chill
  &__chill {
    background-color: #fff;
    color: $redMain;
    font-size: toRem(25);
    width: fit-content;
    height: fit-content;
    transform: skew(-17deg);
    @media (min-width:toEm(360.98)){
      padding: toRem(18) toRem(28) toRem(18);
        
    }
    @media (max-width: toEm(360.98)){
      padding: toRem(12) toRem(18) toRem(15);
    }
    span {
      display: block;
      transform: skew(17deg);
    }
  }
  // .section-05__arr
  &__arr {
    @media (min-width:$mobile){
      animation: arr 2s infinite; 
      position: relative;
      top: -10px;
    }
    @media (max-width:$mobile){
       display: none; 
    }
  }
  // .section-05__social
  &__social {
  }
}

@keyframes arr {
  0% {
    transform: translate(0,0);
  }
  40% {
    transform: translate(10px, 5px);
  }
  100% {
    transform: translateX(0,0);
  }
}

.social {
  display: flex;
  align-items: center;
  @media (min-width:$mobileSmall){
    gap: toRem(20);
  }
  @media (max-width:$mobileSmall){
    gap: toRem(10);
  }
  // .social__item
  &__item {
    flex: 0 0 auto;
  }
  // .social__link
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiveValue("max-width", 50,30,0,768.98,480.98 );
    transition: transform .35s ease;
    @media (any-hover: hover){
      &:hover{
        transform: translateY(-5px);
      }
    }
  }
}



.video-youtube {
  // .video-youtube__body
  &__body {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-64.5%,-48%);
    background-color: #000;
    @include adaptiveValue("width", 840, 600,2,1920,1366.98);
    @include adaptiveValue("width", 600, 320,3,1366.98,480.98);
    aspect-ratio: 629/329;
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 629/326;
    }
  }
  // .video-youtube__button
  &__button {
    overflow: hidden;
    position: relative;
    z-index: 0;
    &::before {
      content: '';
      position: absolute;
      pointer-events: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image:url('../img/icons/play.svg');
      background-repeat: no-repeat;
      background-size: contain;
      @include adaptiveValue("width", 95, 60,0,1440,480.98);
      @include adaptiveValue("height", 95, 60,0,1440,480.98);
    }
    img {
      aspect-ratio: 629/326;
    }
  }
}
